@model List<MilkyProject.WebUI.Dtos.ResultCategoryDto>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /> <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td><a href="#" class="btn btn-success">Güncelle</a></td>
                <td><a href="#" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </table>
    <a href="#" class="btn btn-primary">Yeni Kategori</a>
</div>

